
.user-page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
  }

  .userpage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .header h1 {
    font-size: 24px;
    color: #333;
  }

  .documents-list {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .document-item {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: none;
    transition: all 8s ease;
  }

  .document-item:hover {
    background: linear-gradient(to right, #6db8e3, #fff);
  }

  .document-title {
    font-size: 18px;
    color: #333;
  }

  .create-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .create-button:hover {
    background-color: #0056b3;
  }


  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    z-index: 1000;
    max-width: 400px;
    width: 90%;
    text-align: center;
  }

  .popup label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }

  .popup input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .popup button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .popup button[type="submit"]:hover {
    background-color: #0056b3;
  }
